// Сниппет (SCSS): ex
// .image {
//   @extend %ibg;
// }

%ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%abs100 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// кастомный нумерованный список
%list-counter {
  list-style-type: none;
  counter-reset: item;

  li {
    position: relative;

    &::before {
      content: counter(item);
      position: absolute;
      top: 0;
      left: 0;
      counter-increment: item;
    }
  }
}

// Адаптивное видео
%responsive-video {
  video,
  iframe,
  object,
  embed {
    aspect-ratio: 16 / 9;
  }
}

// Делает видео фоном страницы
%video-background {
  video,
  iframe,
  object,
  embed {
    position: fixed;
    z-index: -100;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    transform: translateX(-50%) translateY(-50%);
  }
}

// Серий фильтр
%gray-filter {
  filter: grayscale(1);
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      filter: grayscale(0);
    }
  }
}

// Запрещает выделять текст мышкой или касанием
%no-select {
  user-select: none;
}

// зеркально отражает элемент по горизонтали
%mirror {
  transform: scale(-1, 1);
}

// Включает плавную прокрутку на iOS Safari (особенно в overflow: scroll контейнерах)
%smooth-scroll {
  -webkit-overflow-scrolling: touch;
}

// Убирает видимость скроллбара в WebKit-браузерах (Chrome, Safari)
%hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
}
