@use '../helpers' as *;
@use '../../components/header/header-fon';
@use '../../components/header/header-shadow';
@use '../../components/header/burger-2';
@use '../../components/header/menu-header';

.header {
  position: fixed;
  z-index: var(--z-index-header);
  top: 0;
  left: 0;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include adaptive-clamp('column-gap', 40, 20);
    @include adaptive-clamp('min-height', 100, 65);
  }

  &__logo {
    position: relative;
    z-index: 5;
    font-size: fluid(24, 20);
    font-weight: 700;
    color: var(--color-black);
    transition: var(--transition);

    @include hover {
      color: var(--color-orange);
    }
  }

  &__overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }

  &__actions {
    position: relative;
    z-index: 5;
  }
}
