@use '../helpers' as *;
@use '../../components/header/header-fon';
@use '../../components/header/header-shadow';
@use '../../components/header/burger-2';
@use '../../components/header/menu-header';

.header {
  position: fixed;
  z-index: var(--z-index-header);
  top: 0;
  left: 0;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include adaptive-clamp('column-gap', 40, 20);
    @include adaptive-clamp('min-height', 110, 65);
  }

  &__logo {
    position: relative;
    z-index: 5;
    font-size: fluid(32, 24);
    font-weight: 700;
    line-height: 1.1;
    transition: var(--transition);

    @media (any-hover: hover) {
      &:hover {
        color: #aa51fe;
      }
    }
  }

  &__overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }

  &__actions {
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: fluid(16, 8);
  }
}
