@use "sass:math" as math;
@use "../config/functions" as *;
@use "../config/mixins" as *;
@use "../config/variables" as global;

.hero {
    height: 3000px;
    padding-top: 150px;
    a {
        display: block;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}