@use '../../styles/helpers/' as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: rem(24);
  text-align: center;
  color: var(--second-color);
  background: var(--gradient-color);
  border-radius: rem(83);
  transition: var(--transition);

  @media (max-width: em(767.98)) {
    font-size: rem(16);
  }

  &--max {
    padding: rem(20) rem(78);
    font-weight: 600;

    @media (max-width: em(767.98)) {
      padding: rem(16) rem(50);
      font-size: rem(16);
    }
  }

  &--icon {
    padding: rem(20) rem(43);
    font-weight: 600;

    @media (max-width: em(767.98)) {
      padding: rem(16) rem(34);
    }

    @media (max-width: em(450)) {
      width: 100%;
    }
  }

  &--min {
    padding: rem(20) rem(54);
    font-weight: 400;

    @media (max-width: em(767.98)) {
      padding: rem(16) rem(44);
    }
  }

  &--card {
    padding: rem(14) rem(38);
    font-size: rem(17);
    font-weight: 600;
  }

  &--transparent {
    color: var(--main-color);
    background: transparent;
    border: 1px solid var(--main-color);
  }

  &:active {
    scale: 1.05;
  }

  @include hover {
    opacity: 0.7;
  }
}
