@use '../../styles/helpers/' as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-block: rem(16);
  padding-inline: rem(40);
  font-size: rem(20);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-purple);
  border-radius: var(--border-radius-btn);
  transition: var(--transition);

  &:active {
    scale: 1.05;
  }

  @include hover {
    opacity: 0.7;
  }

  &--min {
    padding-block: rem(12);
    padding-inline: rem(28);
    font-size: rem(16);
    line-height: 1.5;

    @media (max-width: em(991.98)) {
      padding-inline: rem(18);
    }
  }

  &--transparent {
    background-color: transparent;

    @include hover {
      background-color: var(--color-purple);
    }
  }

  &--hidden {
    @media (max-width: em(410)) {
      display: none;
    }
  }

  &-white-border {
    padding-block: rem(14);
    background-color: transparent;
    border: rem(2) solid var(--color-white);

    @include hover {
      background-color: var(--color-purple);
    }
  }
}
