@use '../helpers/function' as *;
@use '../helpers/mixins' as *;
// @use '../variables';

.field {
  --field-color-dark: #000000;
  --field-color-light: #d9d9d9;
  --field-color-accent: #f5f5f5;

  position: relative;

  &:has(.field__input:not(:placeholder-shown)) .field__label {
    // обращаемся к label только когда плейсхолдер не должен отображаться
    scale: 0.7;
    translate: -1.75em -2.75em; // надо подбирать
    color: #000000;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 17px; //  как в макете
    color: #b3b3b3;
    translate: 0 -50%;
  }

  &__input {
    --field-input-padding-x: 16px; //  как в макете
    --field-search-input-icon-size: 16px;

    width: 100%;
    height: 40px;
    padding-inline: var(--field-input-padding-x);
    background-color: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 8px;

    &:hover,
    &:focus {
      color: #d9d9d9;
    }

    &:focus {
      background-color: #f5f5f5;
      outline: none;
    }

    &[type='search'] {
      &:placeholder-shown {
        //  когда плейсхолдер на инпуте должен отображаться, отображаем иконку
        padding-right: calc(
          var(--field-input-padding-x) * 2 + var(--field-search-input-icon-size)
        );
        background-image: url('../assets/img/root/icon-search_black.svg');
        background-position: calc(100% - var(--field-input-padding-x)) 50%;
        background-size: var(--field-search-input-icon-size);
        background-repeat: no-repeat;
      }
    }
  }
}


/* 
<div class="field">
  <label class="field__label" for="new-task">New task title</label>
  <input class="field__input" id="new-task" placeholder=" " autocomplete="off">
</div>
<div class="field">
  <label class="field__label" for="search-task">Search task</label>
  <input class="field__input" id="search-task" placeholder=" " autocomplete="off" type="search">
</div>
*/