@use '../helpers/function' as *;
@use '../helpers/mixins' as *;
// @use '../variables';

$menuColor: #000000; // text
$menuBackground: #ffffff; // background
$iconMenuColor: #000000; // burger button
.header {
  &__logo {
    position: relative; // burger
    z-index: 5; // burger
  }
}

.menu {
  &__body {
    @media (max-width: em(767.98)) {
      // burger
      position: fixed;
      top: 0;
      left: -100%;
      overflow: auto;
      display: grid;
      grid-template-rows: 1fr auto;
      gap: rem(25);
      width: 100%;
      height: 100%;
      padding: rem(100) rem(15) rem(30);
      background-color: $menuBackground;
      transition: left 0.3s;

      &::before {
        // подложка безопасности, чтобы пункты меню не налазили на логотип, а появлялась прокрутка
        content: '';
        position: fixed;
        z-index: 2;
        top: 0;
        left: -100%;
        width: 100%;
        background-color: $menuBackground;
        transition: left 0.3s;

        @include adaptive-clamp(
          'height',
          110,
          60
        ); // должно совпадать с высотой header. для высоты подложки безопасности, чтобы пункты меню не налазили на логотип, а появлялась прокрутка
      }
    }
  }

  &__list {
    @media (max-width: em(767.98)) {
      // burger
      flex-direction: column;
      column-gap: rem(20);
    }
  }

  &__item {
    text-align: right;
  }

  &__link {
    display: inline-block; // burger

    @media (max-width: em(767.98)) {
      // burger
      font-size: rem(28);
      color: $menuColor; // перепишется в header.scss
    }
  }
}

@media (max-width: em(767.98)) {
  .menu-open.menu__body {
    left: 0;
  }

  .menu-open.menu__body::before {
    left: 0;
  }
}
