@use '../helpers/function' as *;
@use '../helpers/mixins' as *;
// @use '../variables';

.hero {
  position: relative; // задать секции, на которой висит видео
  overflow: hidden;
  background-color: #000000; // надо задать если есть радиусы у самой секции
  &__container {
    position: relative;
    z-index: 2;
  }
}

.video-bacground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}

/* 
<section id="hero" class="page__hero hero">
  <div class="hero__container">
  </div>
  <video class="video-bacground" autoplay muted loop>
    <source type="video/mp4" src="assets/video/1.mp4">
  </video>
</section> */

/* pexels.com = download video */
