@use '../../styles/helpers/' as *;

.timer {
  margin: 0 auto;

  // width: rem(315);
  @media (max-width: em(410)) {
    width: 100%;
  }

  &__title {
    font-size: rem(26);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
}

.num {
  &:not(:last-child) {
    margin-bottom: rem(10);
  }
}

.name {
  display: block;
  min-width: rem(75);
  text-align: center;
}

.countdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(8);
  text-align: center;
  border-radius: rem(10);
  box-shadow: 0 0 rem(50) rem(16) rgba(0, 0, 0, 0.4);

  @media (max-width: em(410)) {
    padding: rem(3);
  }
}

/*
<div class="timer">
	<div class="timer__title">COUNTDOWN</div>
	<div class="timer__wrapper">
		<div class="countdown">
			<div class="days">
				<p class="num">0</p>
				<span class="name">День</span>
			</div>
			<div class="hours">
				<p class="num">0</p>
				<span class="name">Часов</span>
			</div>
			<div class="minutes">
				<p class="num">0</p>
				<span class="name">Минут</span>
			</div>
			<div class="seconds">
				<p class="num">0</p>
				<span class="name">Секунды</span>
			</div>
		</div>
	</div>
</div>
*/
