@use '../../styles/helpers/' as *;

.scroll-up {
  --color-scroll-up-bcg: #ffffff;
  --color-scroll-up-path: var(--scroll-up);
  --color-scroll-up-progress: #989191;
  --scroll-up-progress-width: 0.22rem;

  position: fixed;
  z-index: var(--z-index-scroll-up);
  right: calc(2rem + var(--scrollbar-width, 0rem));
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  color: var(--color-scroll-up-progress);
  background-color: var(--color-scroll-up-bcg);
  border-radius: 3rem;
  box-shadow: inset 0 0 0 var(--scroll-up-progress-width)
    var(--color-scroll-up-progress);
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(1.6rem);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    background: url('../assets/img/components/scroll-up.svg') center no-repeat;
    transform: rotate(-90deg);
  }

  @include hover {
    color: var(--color-scroll-up-path);
  }

  &__path {
    box-sizing: border-box;
    transition: stroke-dashoffset 0.3s ease;
    fill: none;
    stroke: var(--color-scroll-up-path);
    stroke-width: var(--scroll-up-progress-width);
  }
}

.scroll-up--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

@media (width <= 450px) {
  .scroll-up {
    right: calc(1.5rem + var(--scrollbar-width, 0rem));
    bottom: 1.5rem;
  }
}

/* 
<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.586 11.157L11.636 7.20704C11.4538 7.01844 11.353 6.76584 11.3553 6.50364C11.3576 6.24144 11.4628 5.99063 11.6482 5.80522C11.8336 5.61981 12.0844 5.51465 12.3466 5.51237C12.6088 5.51009 12.8614 5.61088 13.05 5.79304L18.707 11.45C18.8002 11.5427 18.8741 11.6529 18.9246 11.7742C18.9751 11.8955 19.001 12.0256 19.001 12.157C19.001 12.2884 18.9751 12.4186 18.9246 12.5399C18.8741 12.6612 18.8002 12.7714 18.707 12.864L13.05 18.521C12.9578 18.6166 12.8474 18.6927 12.7254 18.7451C12.6034 18.7976 12.4722 18.8251 12.3394 18.8263C12.2066 18.8274 12.0749 18.8021 11.952 18.7519C11.8291 18.7016 11.7175 18.6273 11.6236 18.5334C11.5297 18.4395 11.4555 18.3279 11.4052 18.205C11.3549 18.0821 11.3296 17.9504 11.3307 17.8176C11.3319 17.6849 11.3595 17.5536 11.4119 17.4316C11.4643 17.3096 11.5405 17.1993 11.636 17.107L15.586 13.157H6C5.73478 13.157 5.48043 13.0517 5.29289 12.8641C5.10536 12.6766 5 12.4223 5 12.157C5 11.8918 5.10536 11.6375 5.29289 11.4499C5.48043 11.2624 5.73478 11.157 6 11.157H15.586Z" fill="#35c66b"/>
</svg>
*/
