@use 'helpers' as *;

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--main-color);

  // background-color: var(--color-white);

  &.lock {
    touch-action: none;
    overflow: hidden;
  }

  @media (max-width: em(767.98)) {
    font-size: var(--font-size-mobile);
  }
}

.wrapper {
  overflow: hidden; //  Поменять на clip - если используется в проекте position: sticky
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & main {
    flex: 1 1 auto;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  // color: var(--color-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  // font-family: var(--font-family-base);
  // font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  // font-weight: 600;
}

h1,
.h1 {
  // @include fluid-text(70, 30);

  // line-height: 1.2;
}

h2,
.h2 {
  // @include fluid-text(58, 28);

  // line-height: 1.3;
}

h3,
.h3 {
  // @include fluid-text(40, 24);
}

h4,
.h4 {
  // @include fluid-text(26, 18);
}

h5,
.h5 {
  // @include fluid-text(24, 18);
}

h6,
.h6 {
  // @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  // transition-duration: var(--transition-duration);
}

// :focus-visible {
//   // в момент фокусировки с клавиатуры
//   outline: rem(2) dashed var(--color-white);
//   outline-offset: rem(4);
//   transition-duration: 0s !important;
// }

a {
  color: inherit;

  @include hover {
    // color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

// a,
// button {
//   &[aria-label] {
//     position: relative;

//     &::before {
//       width: 44px;
//       height: 44px;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       translate: -50% -50%;
//       content: '';
//     }
//   }
// }
