@use 'helpers' as *;

// .parallax {
// 	width: 100%;
// 	background: url('../assets/img/parallax.webp');
// 	background-attachment: fixed;
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	min-height: 400px;
// 	@media (max-width: 1024px) {
// 		min-height: 300px;
// 	}
// }

// .gradient-text {
//   --gradient-color: #999;
// 	background: var(--gradient-color);//можно использовать фото
// 	background-clip: text;//обрезка фона, чтобы он соответствовал тексту
// 	color: transparent;//делаем текст прозрачным
// }

// .video {
// 	position: relative;
// 	overflow: hidden;
// 	height: 0;
// 	aspect-ratio: 4 / 3;//удалить здесь и задавать каждому отдельному изображению
// 	video,
// 	iframe,
// 	object,
// 	embed {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 100%;
// 	}
// }
