@use 'helpers' as *;

p:where(:not([class]):not(:last-child)) {
  --paragraph-margin-bottom: 0.7rem;

  margin-bottom: var(--paragraph-margin-bottom);
}

html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;  // Отключает автоматическое масштабирование текста при повороте экрана или при зуме на мобильных устройствах.
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; // Включает улучшенное сглаживание текста
  -webkit-font-smoothing: antialiased;// Включает "тонкое" сглаживание шрифтов в WebKit (меньше жирности).
  -moz-osx-font-smoothing: grayscale;// Сглаживание шрифтов в macOS для Firefox.
  scrollbar-gutter: stable;   // Резервирует место для полосы прокрутки, даже если она не отображается.
  overscroll-behavior: none;  // Отключает инерционную прокрутку ("bounce-эффект") на мобильных и десктопах.
}

body {
  min-width: 320px;
  line-height: 1.5;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;

// &:focus,
// &:active {
//   outline: none;
// }

  &:hover,
  &:visited {
    text-decoration: none;
  }
}

[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}
