@use 'helpers/function' as *;
@use 'helpers/mixins' as *;

.ibg {
  position: relative;
  //  aspect-ratio: 4 / 3; // удалить здесь и задавать каждому отдельному изображению
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* 
.video {
	position: relative;
	overflow: hidden;
	height: 0;
	aspect-ratio: 4 / 3;//удалить здесь и задавать каждому отдельному изображению
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
} */

/*  
.gradient-text {
  --gradient-color: #999;
	background: var(--gradient-color);//можно использовать фото
	background-clip: text;//обрезка фона, чтобы он соответствовал тексту
	color: transparent;//делаем текст прозрачным 
} */

/* 
p {
	&:not(:last-child) {
		margin-bottom: 5px;
	}
} */

/* 
 .sr-only { // visually-hidden
	display: block;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important; 
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important
} */

/* 
.parallax {
	width: 100%;
	background: url(../assets/img/parallax.webp);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
	@media (max-width: 1024px) {
		min-height: 300px;
	}
} */