@use 'helpers' as *;

// --f-font-size: #{rem(16)}; #{rgba(#000, 10%) (если используем функции в css переменных, надо обернуть в #{} , иначе функции не будут работать)
:root {
  --font-family-base: 'Roboto', sans-serif;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Roboto', sans-serif;

  --container-width: #{rem(1200)};
  --container-padding-x: #{rem(15)};
  --transition-duration: 0.3s;
  --transition: 0.3s ease 0s;

  --font-size: #{rem(16)};
  --font-size-mobile: #{rem(16)};
  --font-weight: 400;
  --line-height: 1;

  --main-color: var(--color-dark);
  --second-color: var(--color-orange);
  --accent-color: var(--color-orange);
  --hover-color: var(--color-orange);
  --hover-background: var(--color-orange);
  --color-bg-body: var(--color-white);
  --scroll-up: var(--color-orange);

  --color-white: #ffffff;
  --color-light: #fafaf5;
  --color-dark: #000000;
  --color-orange: #ffa501;

  --border: 1px solid var(--color-white);
  --border-radius: #{rem(8)};
}
