@use 'helpers' as *;

// --f-font-size: #{rem(16)}; #{rgba(#000, 10%) (если используем функции в css переменных, надо обернуть в #{} , иначе функции не будут работать)
:root {
  --font-family-base: 'Montserrat', sans-serif;
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Montserrat', sans-serif;

  --container-width: #{rem(1260)};
  --container-padding-x: #{rem(15)};
  --transition-duration: 0.3s;
  --transition: 0.3s ease 0s;

  --font-size: #{rem(20)};
  --font-size-mobile: #{rem(16)};
  --font-weight: 400;
  --line-height: 1.6;

  --main-color: var(--color-grey);
  --second-color: var(--color-white);
  --gradient-color: linear-gradient(245deg, #237249 0%, #35c66b 100%);
  --accent-color: #35c66b;
  --hover-color: var(--accent-color);
  --hover-background: var(--accent-color);
  --scroll-up: var(--accent-color);

  --color-white: #ffffff;
  --color-light: #fafaf5;
  --color-dark: #121517;
  --color-grey: #d9d9d9;
  --border: 1px solid var(--main-color);
  --border-radius: #{rem(10)};
}
