@use 'reset';
@use 'normalize';
@use 'fonts/fonts';

// @use 'fonts/icons';
@use 'variables';
@use 'utils';
@use 'globals';
@use 'helpers-classes';
@use 'base/base-index';
@use 'blocks/page';
@use 'blocks/common';
@use 'blocks/header';
@use 'blocks/footer';
@use 'blocks/hero';
@use 'blocks/second';

// @use 'blocks/third';
// @use 'blocks/fourth';
// @use 'blocks/fifth';

// .header,
// main > *:not(:last-child), //  все секции, кроме последней
// .footer {
//   display: none !important;
// }
