@mixin font-woff2($font-family, $url, $weight, $style) {
  @font-face {
    src: url('#{$url}.woff2') format('woff2');
    font-family: '#{$font-family}';
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}

$fontPrimary: '';
$fontSecondary: '';

// @include font-woff2($fontPrimary, "../assets/fonts/#{$fontPrimary}-Thin", 100, normal);
// @include font-woff2($fontPrimary, "../assets/fonts/#{$fontPrimary}-ExtraLight", 200, normal);
// @include font-woff2($fontPrimary, "../assets/fonts/#{$fontPrimary}-Light", 300, normal);
// @include font-woff2($fontPrimary, '../assets/fonts/#{$fontPrimary}-Regular', 400, normal);
// @include font-woff2($fontPrimary, '../assets/fonts/#{$fontPrimary}-Medium', 500, normal);
// @include font-woff2($fontPrimary, '../assets/fonts/#{$fontPrimary}-SemiBold', 600, normal);
// @include font-woff2($fontPrimary, '../assets/fonts/#{$fontPrimary}-Bold', 700, normal);

// @include font-woff2($fontPrimary, '../assets/fonts/#{$fontPrimary}-ExtraBold', 800, normal);
// @include font-woff2($fontPrimary, "../assets/fonts/#{$fontPrimary}-Black", 900, normal);

// @include font-woff2($fontSecondary, "../assets/fonts/#{$fontSecondary}-Thin", 100, normal);
// @include font-woff2($fontSecondary, "../assets/fonts/#{$fontSecondary}-ExtraLight", 200, normal);
// @include font-woff2($fontSecondary, "../assets/fonts/#{$fontSecondary}-Light", 300, normal);
// @include font-woff2($fontSecondary, '../assets/fonts/#{$fontSecondary}-Regular', 400, normal);
// @include font-woff2($fontSecondary, "../assets/fonts/#{$fontSecondary}-Medium", 500, normal);
// @include font-woff2($fontSecondary, "../assets/fonts/#{$fontSecondary}-SemiBold", 600, normal);
// @include font-woff2($fontSecondary, "../assets/fonts/#{$fontSecondary}-Bold", 700, normal);
// @include font-woff2($fontSecondary, "../assets/fonts/#{$fontSecondary}-ExtraBold", 800, normal);

/* 
100 – Thin || Hairline
200 – Extra Light || Ultra Light || Thin
300 – Light
400 – Normal || Regular
500 – Medium
600 – Semi Bold || Demi Bold
700 – Bold
800 – Extra Bold || Ultra Bold || Heavy
900 – Black || Heavy
// Roboto-Regular.woff2  == имя шрифта должно быть в таком формате
https://transfonter.org/
*/
