@use '../../styles/helpers/' as *;

.slider-comparison {
  --c-slider-comparison: #ffffff;

  position: relative;
  overflow: hidden;
  aspect-ratio: 720 / 700; // первая ширина, вторая высота (надо задать, чтобы не плющило высоту)
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__line-top {
    position: absolute;
    top: 0;
    left: 61%;
    width: 6px;
    height: calc(50% - 20px);
    background-color: var(--c-slider-comparison);
    cursor: pointer;
    transform: translateX(-50%);
  }

  &__line-bottom {
    position: absolute;
    bottom: 0;
    left: 61%;
    width: 6px;
    height: calc(50% - 20px);
    background-color: var(--c-slider-comparison);
    cursor: pointer;
    transform: translateX(-50%);
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 61%;
    width: 39px;
    height: 39px;
    border: 6px solid var(--c-slider-comparison);
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }

  &__input {
    appearance: none;
    position: relative;
    width: calc(100% + 40px);
    height: 100%;
    margin-left: -20px;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 3px;
      height: 100%;
      background-size: contain;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

@media (width <= 767.98px) {
  .slider-comparison {
    &__line-top,
    &__line-bottom {
      width: 2px;
      height: calc(50% - 10px);
    }

    &__circle {
      width: 20px;
      height: 20px;
      border: 2px solid var(--c-slider-comparison);
    }
  }
}

/* 
<div class="slider-comparison">
  <img src="assets/img/explore-slider/after.webp" alt="after image"
    class="slider-comparison__img slider-comparison__img--after" loading="lazy">
  <img src="assets/img/explore-slider/before.webp" alt="before image"
    class="slider-comparison__img slider-comparison__img--before" loading="lazy"
    style="clip-path: polygon(0px 0px, 63% 0px, 63% 100%, 0px 100%);">
  <div class="slider-comparison__line-top" style="left: 63%;"></div>
  <div class="slider-comparison__line-bottom" style="left: 63%;"></div>
  <div class="slider-comparison__circle" style="left: 63%;"></div>
  <input class="slider-comparison__input" type="range" min="0" max="100" value="61">
</div>
*/
