@use '../../styles/helpers/' as *;

// .header {
//   position: fixed;
//   z-index: 50;
//   top: 0;
//   left: 0;
//   width: 100%;

//   &__container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     @include adaptive-clamp('column-gap', 40, 20);
//     // @include adaptive-clamp('min-height', 80, 60);
//   }

//   &__logo,
//   &__actions {
//     position: relative; // burger
//     z-index: 5; // burger
//   }

//   &__actions {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     gap: rem(12);
//   }
// }

/* 
<header id="header" class="header" data-js-header>
  <div class="header__container">
    <a href="./index.html" class="header__logo logo" aria-label="home" title="Home">
      <!-- <span class="icon icon__logo">the gifts</span></a> -->
      <img src="./assets/img/logo.svg" alt="" width="50" height="50">
    </a>
    <div class="header__overlay">
      <nav class="header__menu menu" data-js-header-menu>
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#" class="menu__link"></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__actions"></div>
    <button type="button" class="header__burger-button burger-button" data-js-header-burger-button
      aria-label="Open menu" title="Open menu">
      <span class="burger-button__inner">
        <span class="burger-button__line"></span>
        <span class="burger-button__line"></span>
        <span class="burger-button__line"></span>
      </span>
    </button>
  </div>
</header>
*/
