@use '../../helpers' as *;

.burger-button {
  --burger-button-color: #ffffff;
  --burger-button-color-hover: #ff4646;
  --burger-button-color-open: #449f4d;

  display: none;

  @media (max-width: em(767.98)) {
    flex: 0 0 rem(44);
    position: relative;
    z-index: 5;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: rem(44);
    height: rem(44);
    padding: 8px 6px;
    color: var(--burger-button-color);
    background-color: transparent;
    border: none;

    @include hover {
      color: var(--burger-button-color-hover);
    }

    &__line {
      width: 100%;
      height: rem(2);
      background-color: currentColor;
      border-radius: 1rem;
      transition-duration: var(--transition-duration);

      &:first-child {
      }

      &:nth-child(2) {
      }

      &:last-child {
      }
    }

    &.is-active {
      .burger-button__line {
        color: var(--burger-button-color-open);

        &:nth-child(2) {
          width: 0;
        }

        &:first-child {
          transform: translate(0px, 18px) rotate(45deg);
        }

        &:last-child {
          transform: translate(0px, -7px) rotate(-45deg);
        }
      }
    }
  }
}
// не рабочий вариант
/* 
<button class="header__burger-button burger-button" type="button" aria-label="Open menu"
  title="Open menu" data-js-header-burger-button>
  <span class="burger-button__line"></span>
  <span class="burger-button__line"></span>
  <span class="burger-button__line"></span>
</button>
*/
