.inner {
  &::after {
    content: 'we\Ahave';
    position: absolute;
    z-index: 10;
    top: 55px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    font-size: 38px;
    font-weight: 500;
    white-space: pre-wrap;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-image: url('../assets/img/icons/star.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }
}
