@use '../../styles/helpers/' as *;

.map-lazy {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  width: 100%;

  &__preview {
    position: absolute;
    z-index: 2;
    inset: 0;
    cursor: pointer;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; // весь блок кликабельный
    user-select: none; // запрещает пользователю выделять текст или элементы
  }

  iframe {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

/* 
<div class="map-lazy" data-map>
  <div class="map-lazy__preview" data-map-trigger>
    <img class="map-lazy__img" src="assets/img/map.webp" alt="open map">
  </div>
</div>
*/
