@use '../../styles/helpers/' as *;

.hover-prompt {
  position: relative;
  overflow: hidden;
  width: 300px;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.3s;
    transform: scale(0) rotate(90deg);
  }

  // img {
  //   max-width: 100%;
  //   display: block;
  // }
  @media (any-hover: hover) {
    &:hover span {
      opacity: 1;
      transform: scale(1) rotate(0);
    }
  }
}
