@use '../../styles/helpers/' as *;

.hover-img {
  overflow: hidden;
  border-radius: rem(20);
  box-shadow:
    0 0 15px 0 rgba(0, 0, 0, 0.07),
    0 25px 50px -12px rgba(0, 0, 0, 0.25);

  // transition: all 0.3s ease 0s;
  transition: var(--transition);

  @include hover {
    filter: grayscale(50%);
  }

  // @media (any-hover: hover) {
  //   &:hover {
  //     filter: grayscale(50%);
  //   }
  // }
}
