@use '../../styles/helpers/' as *;

$pulseColor: var(--color-white);

.pulse {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;

  // border-radius: rem(20);

  border-radius: 50%;

  // background: $pulseColor;
  // width: 60px;
  // height: 60px;
  img {
    max-width: 100%;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    inset: -20px;
    border: 2px solid $pulseColor;
    border-radius: 50%;

    // border-radius: rem(20);
    opacity: 0;
    animation: pulse 2.5s linear infinite;
  }

  &::after {
    animation-delay: 1.25s;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
