@use '../../styles/helpers/' as *;

$pulseColor: var(--color-white);

.pulse {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 50%;

  &::after,
  &::before {
    content: '';
    position: absolute;
    inset: -20px;
    border: 2px solid $pulseColor;
    border-radius: inherit;
    opacity: 0;
    animation: pulse 2.5s linear infinite;
  }

  &::after {
    animation-delay: 1.25s;
  }

  &.pulse--radius {
    border-radius: var(--border-radius-btn);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
