@use '../helpers/function' as *;
@use '../helpers/mixins' as *;
// @use '../variables';
.button {
  padding-block: rem(16);
  padding-inline: rem(40);
  font-size: rem(20);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-dark);
  border-radius: rem(8);
  transition: all 0.3s;

  &:active {
    scale: 1.05;
  }

  @media (any-hover: hover) {
    &:hover {
    }
  }
}
