@use "sass:math" as math;
@use './../config/css-variables' as *;
@use './../config/functions' as *;
@use './../config/mixins' as *;
.button {
    border-radius: rem(8);
    text-align: center;
    padding-block: rem(16);
    padding-inline: rem(40);

    font-weight: 500;
    font-size: rem(20);
    line-height: 1.2;
    letter-spacing: 0.03em;
    background-color: var(--c-purple);
    color: var(--c-white);
    
    transition: all 0.3s;
    @media (any-hover: hover){
        &:hover{
        }
    }   
}

