@use '../helpers/function' as *;
@use '../helpers/mixins' as *;
// @use '../variables';
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s;
}

.header.scroll::before {
  opacity: 1;
}
