// ===== HOVER =====
 
/* 
.hover-link {
    position: relative;
    transition: all 0.4s ease 0s;
    &::after{
        content:'';
        position: absolute;
        bottom: rem(-3);
        left: 0;
        width: 0;
        height: rem(2);
        transition: width 0.3s ease 0s;
        background-color: $linkHoverBackground;        
    }
    @media (any-hover: hover){
        &:hover{
            color: $linkHoverColor;
        }
        &:hover::after {
            width: 100%;
        }
    }
} */ 

 /* .hover-scale-filter {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    transition: all 0.3s ease 0s;    //error
    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.01);
            filter: grayscale(30%);
        }
    }
}  */

 
/* .hover-btn {
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.06);
        }
    }
} */ 
// всплывающие подсказки при наведении
// если родитель не div, задать display: block;
// <div class="hover-prompt"><span>описание проекта</span><img src="img/hover/demo.jpg" alt="alt"></div>
 
/* .hover-prompt {
    width: 300px;//
    position: relative;
    overflow: hidden;
    span {
        padding-top: 40px;//
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;        
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: scale(0) rotate(90deg);
        transition: all 0.3s;
    }
    img {
        // max-width: 100%;
        // display: block;
    }
    @media (any-hover: hover){
        &:hover span{
            opacity: 1;
            transform: scale(1) rotate(0);
        }
    }
} */ 
// ========================================
// <div class="pulse"><img src="img/social-fixed/instagram.svg" alt="button"></div>
 
/* .pulse {
    display: flex;
    justify-content: center;
    align-items: center;
    //========
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    background: $secondColor;
    width: 60px;
    height: 60px;
    img {
        max-width: 100%;
      }
    &::after,
    &::before {
        content: '';
        position: absolute;
        border: 2px solid $secondColor;
        left: -20px;
        opacity: 0;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: pulse 2.5s linear infinite;
    }
    &::after {
        animation-delay: 1.25s;
    }
}
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}  */
// ====================================