@use '../helpers' as *;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease 0s;

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 30px 10px;
  }

  &__content {
    position: relative;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.4s ease 0s;

    // transform: perspective(600px) translate(0, -100%) rotateX(45deg);
    transform: scale(0);
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    color: #000000;
  }

  &__title {
    font-size: 40px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.popup.open {
  visibility: visible;
  opacity: 1;
}

.popup.open .popup__content {
  opacity: 1;
  transform: scale(1);

  // transform: perspective(600px) translate(0, 0%) rotateX(0deg);
}

/* 
<a href="#popup" class="popup-link">open popup 1</a>
<div id="popup" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <button type="button" class="popup__close close-popup">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30 10L10 30" stroke="#181C29" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M10 10L30 30" stroke="#181C29" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>
</div>
*/
