@use '../helpers/function' as *;
@use '../helpers/mixins' as *;
// @use '../variables';

.spollers__title {
  position: relative;
  width: 100%;
  padding: rem(10);
  font-size: rem(18);
  background-color: transparent;
  text-align-last: left;
}

.init .spollers__title {
  cursor: pointer;
}

.init .spollers__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.init .spollers__title::after {
  content: '';
  width: 20px;
  height: 20px;

  // background: url("../assets/img/root/spoller.svg") center center no-repeat;
  background: url('../assets/img/root/spoller-white.svg') center center
    no-repeat;
  transition: transform 0.5s;
}

.init .spollers__title.active::after {
  transform: rotate(-180deg);
}

// указать свои стили

/* 
add this markup to index.html
<div data-spollers data-one-spoller class="spollers">
    <div class="spollers__item">
        <button tabindex="1" type="button" data-spoller class="spollers__title">обычный спойлер</button>
        <div class="spollers__text"></div>
    </div>
    <div class="spollers__item">
        <button tabindex="1" type="button" data-spoller class="spollers__title">обычный спойлер</button>
        <div class="spollers__text"></div>
    </div>
</div>
<div data-spollers="600, min" class="spollers">
    <div class="spollers__item">
        <button tabindex="1" type="button" data-spoller class="spollers__title">спойлер работает на экранах = 600px</button>
        <div class="spollers__text"></div>
    </div>
</div>
<div data-spollers="800, max" class="spollers">
    <div class="spollers__item">
        <button tabindex="1" type="button" data-spoller class="spollers__title">спойлер 2 работает на экранах = 800px</button>
        <div class="spollers__text"></div>
    </div>
</div>

    data-one-spoiler функция акордеона, может быть открыт только один спойлер из всех
    data-spoilers пустой атрибут вешаем на родителя, если надо вывести спойлеры, которые будут работать на любом разрешении экрана
    "button" data-spoiler вешаем пустой атрибут на кнопку заголовок открывания
    data-spoilers="650,min" чтобы включался на экранах шире 650
    data-spoilers="800,max" чтобы включался на экранах меньше 650
*/
